.rightcontainer {
    width: 100%;
    height: 100%;
    padding: 26px;
    border-radius: 20px;
    border: 1px solid #8C8C8C;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.herderText {
    color: #696B70;
    font-size: 22px;
    font-weight: bold;
    flex-shrink: 0;
}

.dashBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.chartWrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartjs-legend {
    white-space: nowrap;
}