.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.MemberHeader {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
}

.layoutMain {
  flex: 1;
  height: calc(100vh - 98px);
  overflow: hidden;
  padding: 20px 118px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}

.layoutMainYellow {
  flex: 1;
  height: calc(100vh - 98px);
  padding: 20px 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff !important;
}

@media (max-width: 1400px) {

  .layoutMain,
  .layoutMainYellow {
    padding: 0 20px;
  }
}