.dashcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.left>* {
    flex: 1;
}


.right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}