.dashcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px; /* left와 right 사이 간격 */
    margin: 0 auto; /* 가운데 정렬 */
    box-sizing: border-box;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px; /* 여기서 LeftUp/Down 사이 간격 */
}

.left > * {
    flex: 1; /* LeftUp / LeftDown 동일 비율 */
}


.right {
    flex: 1; /* 전체 대비 1:1 비율 */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid black; */
     /* border:1px solid black; */
}
