.cardGrid {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listHeader {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.listRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 75px;
}

.listColNumber,
.listColUsername,
.listColNickname,
.listColDate,
.listColReport {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.listColDate {
  margin-left: auto;
  width: 150px;
}

.listColReport {
  width: 120px;
  padding: 0 12px;
}

.listColNumber {
  width: 80px;
}

.listColUsername {
  width: 8%;
}

.listColNickname {
  width: 20%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  padding-top: 10px;
}

.pageNumbers {
  display: flex;
  gap: 6px;
}

.pageBtn {
  min-width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activePage {
  background-color: #ADB9E3 !important;
  color: white !important;
  font-weight: bold;
}

.pageControl {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #696b70;
}

.pageControl:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}