.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  width: 28%;
  height: 64%;
  background: white;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modalContent {
  flex-grow: 1;
  margin-bottom: 10px;
}

.modalTitle {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  color: #696B70;
}

.infoList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.infoKey {
  font-size: 18px;
  font-weight: bold;
  color: #696B70;
  margin-top: 20px;
}

.infoKey:first-child {
  margin-top: 0;
}

.dash {
  margin: 0 30px;
}

.infoValue {
  font-size: 16px;
  color: #696B70;
  margin-top: 10px;
  margin-left: 10px;
}

.buttonContainer {
  flex-shrink: 0;
  display: flex;


  justify-content: center;
  gap: 30px;
}

.actionButton {
  width: 230px;
  height: 48px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
}

.cancelButton {
  background: #d9d9d9;
}

.cancelButton:hover,
.cancelButton:active {
  background-color: #b0b0b0;
  transform: scale(0.98);
}

.completeButton {
  background: #ADB9E3;
}

.completeButton:hover,
.completeButton:active {
  background-color: #94a4d6;
  transform: scale(0.98);
}